{{ '[' }}
{% for secret in secret_values.results %}
{{ '{' }}"name": "{{ secret.item }}", "value": "{{ secret.stdout|replace('"', '\\"')|replace('\n', '\\n') }}"{{ '}' }}{% if not loop.last %},{% endif %}{{ '\n' }}
{% endfor %}
{{ ']' }}